@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face {
  font-family: "body_mono_bold";
  src: url("/fonts/ibmplexmono-bold-webfont.woff2") format("woff2"),
    url("/fonts/ibmplexmono-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibmplexmono_body_mono_bold_italic";
  src: url("../public/fonts/ibmplexmono-bolditalic-webfont.woff2")
      format("woff2"),
    url("../public/fonts/ibmplexmono-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "body_mono_italic";
  src: url("/fonts/ibmplexmono-italic-webfont.woff2") format("woff2"),
    url("/fonts/ibmplexmono-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibmplexmono_body_mono_bold_italic";
  src: url("../public/fonts/ibmplexmono-bolditalic-webfont.woff2")
      format("woff2"),
    url("../public/fonts/ibmplexmono-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibmplexmono_body_mono_extralight";
  src: url("../public/fonts/ibmplexmono-extralight-webfont.woff2")
      format("woff2"),
    url("../public/fonts/ibmplexmono-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibmplexmono_body_mono_extralightitalic";
  src: url("../public/fonts/ibmplexmono-extralightitalic-webfont.woff2")
      format("woff2"),
    url("../public/fonts/ibmplexmono-extralightitalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "body_mono_semibold";
  src: url("/fonts/ibmplexmono-semibold-webfont.woff2") format("woff2"),
    url("/fonts/ibmplexmono-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "body_bold";
  src: url("/fonts/ibmplexsans-bold-webfont.woff2") format("woff2"),
    url("/fonts/ibmplexsans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "body_condensed_med";
  src: url("/fonts/ibmplexsanscond-medium-webfont.woff2") format("woff2"),
    url("/fonts/ibmplexsanscond-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Special Elite";
  src: url("/fonts/SpecialElite-Regular.ttf") format("woff2"),
    url("/fonts/SpecialElite-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Press Start";
  src: url("/fonts/PressStart2P-Regular.ttf") format("woff2"),
    url("/fonts/PressStart2P-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hitchcock";
  src: url("/fonts/Hitchcock.ttf") format("woff2"),
    url("/fonts/Hitchcock.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Bold";
  src: url("/fonts/Barlow-Bold.ttf") format("woff2"),
    url("/fonts/Barlow-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Extra Light";
  src: url("/fonts/Barlow-ExtraLight.ttf") format("woff2"),
    url("/fonts/Barlow-ExtraLight.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed Bold";
  src: url("/fonts/BarlowCondensed-Bold.ttf") format("woff2"),
    url("/fonts/BarlowCondensed-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Special Elite";
  src: url("/fonts/SpecialElite-Regular.ttf") format("woff2"),
    url("/fonts/SpecialElite-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Press Start";
  src: url("/fonts/PressStart2P-Regular.ttf") format("woff2"),
    url("/fonts/PressStart2P-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hitchcock";
  src: url("/fonts/Hitchcock.ttf") format("woff2"),
    url("/fonts/Hitchcock.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Bold";
  src: url("/fonts/Barlow-Bold.ttf") format("woff2"),
    url("/fonts/Barlow-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Extra Light";
  src: url("/fonts/Barlow-ExtraLight.ttf") format("woff2"),
    url("/fonts/Barlow-ExtraLight.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed Bold";
  src: url("/fonts/BarlowCondensed-Bold.ttf") format("woff2"),
    url("/fonts/BarlowCondensed-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
